<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Información enviada</h1>
    <table class="table">        
        <tbody>
          <tr>            
            <td>Nombre:</td>
            <td>{{session["usuario"]}}</td>            
          </tr>
          <tr>            
            <td>Locación del dojo:</td>
            <td>{{session["lugar"]}}</td>            
          </tr>
          <tr>          
            <td >Lenguaje Favorito:</td>
            <td>{{session["lenguaje"]}}</td>
          </tr>
          <tr>          
            <td >Comentarios:</td>
            <td>{{session["opinion"]}}</td>
          </tr>
        </tbody>
</body>
</html>